.background{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #2E2E2E;
}
.textBox{
    display: flex;
    align-items: center;
    width: 500px;
    min-width: fit-content;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #F4F4F4;
}
.left{
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    justify-content: end;
}
.rigth{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    justify-content: start;
}
.icon{
    fill: #F4F4F4;
    height: 36px;
    margin-right: 10px;
}

