.background,
.qualitiesBox {
    background-color: #CE2026;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.qualitiesGroup {
    width: 940px;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.qualitiesGroupLine {
    border: none;
    margin: none;
    width: 1px;
    background: linear-gradient( #ffffff00 0%,#F4F4F4 20%, #F4F4F4 80%, #ffffff00 100%);
}

.contentBox {
    width: min-content;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    font-size: 20px;
    margin-bottom: 18px;
}

.text {
    width: fit-content;
    color: #F4F4F4;
    font-size: 14px;
}
.text.phone{
    width: max-content;
}

.icon{
    transform: scale(-1, 1);
    margin-right: 10px;
    width: 25px;
    height: 25px;
    fill: #FFFF;
    stroke: #FFFF;
}
