.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0);
    transform: scaleY(0);
    transition: all 0.35s;
    opacity: 0;
    transform-origin: top;

    &.active {
        transform: scaleY(1);
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.493);
        transition: all 0.35s;
        transform-origin: top;
    }

}

.container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1011;
    display: flex;
    width: 460px;
    min-height: 300px;
    height: fit-content;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2E2E2E;
    border-radius: 0 0 0 10px;
    background: #F4F4F4;
    flex-direction: column;
    justify-content: flex-start;
    transform: scaleX(0);
    transition: transform 0.35s linear;
    transform-origin: right;

    &.active {
        transform: scaleX(1);
        transition: transform 0.35s linear;
        transform-origin: right;
    }
}

.titleHeader {
    width: 100%;
    height: 60px;
    background: #CE2026;
    padding: 5px 10px;
    display: flex;
    align-items: center;

    &>p {
        font-size: 22px;
        margin-left: 78px;
        color: #F4F4F4;
    }
}

.cardLine{
    border: none;
    margin: 0 5px;
    width: 100%;
    height: 1px;
    background: #BBBBBB;
}

.buttonClouse {
    padding: 6px;
    background: none;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;

    &:hover {
        transition: all 0.15s ease-in-out;

        background: #F4F4F4;

        &>.iconClouse {
            transition: all 0.15s ease-in-out;
            fill: #CE2026;
        }
    }

}

.iconClouse {
    width: 20px;
    height: 20px;
    fill: #F4F4F4;
    transition: all 0.15s ease-in-out;
}

.cardBox {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    height: fit-content;
}

.footerBox{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px 20px;
}
.priceBox{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.textCurent{
    color: black;
    font-weight: 500;
    font-size: 19px;
}
.textPrice{
    color: #FF0000;
    font-weight: 500;
    font-size: 19px;
}
.buttonBay{
    color: #F4F4F4;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #027300;
    transition: all 0.15s ease-in-out;
    &:hover{
        transition: all 0.15s ease-in-out;
        background-color: #CE2026;
    }
}
