.notActive {
    display: none;
}

.backgroundBox {
    width: 460px;
    min-width: 460px;
    height: 346px;
    min-height: 346px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F4F4F4;
    border-radius: 0 0 10px 10px;
    color: #000000;
    box-shadow: 0 0 .7em rgba(0, 0, 0, 0.6);
    transition: all 0.15s ease-out;
    z-index: 1;
    /* Х-позиція, Y-позиція, Розмиття, Динаміка висоти, колір */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    /* transition: .2s; */
}
.usedIndex {
    border-radius: 0 10px 10px 10px;
}
.backgroundBox:hover {
    position: absolute;
    z-index: 3;
    width: 470px;
    min-width: 470px;
    height: 356px;
    min-height: 356px;
    /* transition: .2s; */
    /* box-shadow: 0 0 12px rgba(0, 0, 0, 1.2); */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.829);
    transition: all 0.15s ease-out;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 470px;
    min-width: 470px;
    height: 356px;
    min-height: 356px;
}
/* ---------------------------------------------------------- */

.imgBox {
    display: block;
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
}

.img {
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.usedIndexImg {
    border-radius: 0 10px 0 0;
}

.usedIndexBox {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: #F4F4F4;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 0 10px;
    z-index: 1;
}

.blurBG {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #92929218;
    backdrop-filter: blur(2px);
    transition: all 0.25s ease-out;
}

.eyeButton{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 3;
    width: 100px;
    height: 100px;
    transition: all 0.15s ease-out;
}

.eyeButton:hover>.eyeSvgIcons{
    display: block;
    transition: all 0.15s ease-out;
}
.eyeButton:hover+.blurBG{
    opacity: 1;
    transition: all 0.3s ease-out;
}

.eyeSvgIcons{
    display: none;
    border-radius: 50%;
    background-color: #98989871;
    width: 50px;
    height: 50px;
    padding: 5px;
    fill: #f4f4f477;
    transition: all 0.15s ease-out;
}
.eyeSvgIcons:hover{
    background-color: #b3b3b388;
    fill: #F4F4F4;
    transition: all 0.15s ease-out;
}

/* ---------------------------------------------------------- */

.infoBox {
    width: 100%;
    height: fit-content;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.priceBox {
    display: flex;
    align-items: end;
}

.priceInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
}

.modelAuto {
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
}

.newPrice {
    color: #CE2026;
    font-weight: 600;
    font-size: 22px;
    margin-right: 15px;
    line-height: 28px;
}

.oldPrice {
    color: #989898;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* ---------------------------------------------------------- */

.basketButton {
    padding: 0 10px;
    width: fit-content;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #F4F4F4;
    border-radius: 5px;
    background-color: #027300;
    transition: all 0.15s ease-out;
}

.basketButton:hover {
    background-color: #FF0000;
    color: #fff;
    transition: all 0.15s ease-out;
}

.basketButton>p {
    height: 27px;
    display: flex;
    align-items: center;

}

.basketSvgIcons {
    width: 30px;
    height: 25px;
    fill: #F4F4F4;
    transition: all 0.15s ease-out;
}

.basketButton:hover>.basketSvgIcons {
    fill: #fff;
    transition: all 0.15s ease-out;
}
